@model BeginApplication.Models.UserModel

@if (Model != null)
{ 
    Model.Target = "user" + Model.UserId;         
    
    <tr>
        <td>
            @Html.Partial("_UserAct", new BeginApplication.Models.ShortUserSummary
              {
                  UserId = Model.UserId,
                  UserName = Model.UserName,
                  Roles = Model.Roles
              })
        </td>
        <td>
            @{ var email = "mailto" + ":" + Model.Email; }
            <span><a href="@email">@Model.Email</a></span>
        </td>
        <td>
            @Html.DisplayFor(m => m.RegistrationDate)
        </td>
        <td>
            @Html.Action("GetChangeRoleUrl", "Admin", new { id = Model.UserId, path = Request.Url.AbsoluteUri })
        </td>
        <td id="@Model.Target">
            @Html.Partial("_UserManage",Model)
        </td>
    </tr>
}