@model BeginApplication.Models.UserModel

@if (Model != null)
{ 
    Model.Target = "user" + Model.UserId;         
    
    <tr>
        <td>
            @Html.DisplayFor(m => m.UserName)
        </td>
        <td>
            @Html.DisplayFor(m => m.Email)
        </td>
        <td>
            @Html.DisplayFor(m => m.RegistrationDate)
        </td>
        <td>
            @Html.Action("GetChangeRoleUrl", "Admin", new { id = Model.UserId, path = Request.Url.AbsoluteUri })
        </td>
        <td id="@Model.Target">
            @Html.Partial("_UserManage",Model)
        </td>
    </tr>
}