@model BeginApplication.Models.ManagementUsersModel

@{
    ViewBag.Title = "Управление пользователями.";
}
<div class="users-container" style="overflow: hidden;">
    <div class="form-user-searching">
        @using (Html.BeginForm("GetUsers", "Admin", FormMethod.Get))
        {
            <text>
                Поиск по имени пользователя/по почте : @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Поиск" />
            </text>
        }
    </div>
    @if (Model.TotalItems != 0)
    {
        <div class="user-data">
            <table>
                <tr>
                    <th>
                        @Html.ActionLink("Имя пользователя", "GetUsers", new
                        {
                            sortOrder = ViewBag.UserNameSort,
                            currentFilter = ViewBag.CurrentFilter
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Электронный адрес", "GetUsers", new
                        {
                            sortOrder = ViewBag.EmailSort,
                            currentFilter = ViewBag.CurrentFilter
                        })
                    </th>
                    <th>
                        @Html.ActionLink("Дата регистрации", "GetUsers", new
                        {
                            sortOrder = ViewBag.RegistrationSort,
                            currentFilter = ViewBag.CurrentFilter
                        })
                         
                    </th>
                    <th>
                        Назначить роль
                    </th>
                </tr>
                @foreach (var item in Model.PagedUsers)
                {
                    @Html.Partial("_User", item)
                }
            </table>
        </div>
    }
    else
    {
        <text>Ничего не найдено</text>
    }

    @if (Model.TotalItems > 10)
    {
        <div class="user-paged-list" style="float: left; ">
            @Html.PagedListPager(

            (IPagedList)Model.PagedUsers,

            page => Url.Action("GetUsers", "Admin", new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }),

            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = String.Format("<< Первая страница"),
                LinkToPreviousPageFormat = String.Format("<"),
                LinkToNextPageFormat = String.Format(">"),
                LinkToLastPageFormat = String.Format("Последняя страница >>"),
                MaximumPageNumbersToDisplay = 1,
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded
            }
        )
        </div>
    }
</div>