@model BeginApplication.Models.ThemeInfo

<div class="row topic-link-line">
    <div class="col-md-8">
        <p>@Html.ActionLink(Model.ThemeTitle, "Theme", "Forum", new { id = Model.ThemeId }, null)</p>
        <small>@Model.CreationDate.ToShortTimeString() , @Model.CreationDate.ToShortDateString()</small>
    </div>
    <div class="col-md-3">
        <small>
            <p>Постов: @Model.CountComments</p>
            Автор: @Model.UserName
        </small>
    </div>
</div>