@model BeginApplication.Models.ThemeInfo

<div class="theme-main-part">
    <div class="theme-header">
        <div class="theme-header-user">
            @Html.Partial("_UserAct", new BeginApplication.Models.ShortUserSummary {
                UserId = Model.UserId,
                UserName = Model.UserName
            })
        </div>
        <div class="theme-header-date">Время @Model.CreationDate.ToShortTimeString() Дата @Model.CreationDate.ToShortDateString()</div>
        <div class="theme-header-count"> Количество сообщений в теме : @Model.CountComments</div>
    </div>
    <div class="theme-body">
        @Html.ActionLink(Model.ThemeTitle, "Theme", "Forum", new { id = Model.ThemeId }, null)
    </div>
</div>