@model BeginApplication.Models.ChangePasswordModel

@{
    ViewBag.Title = "Изменение пароля";
}

<h2>Изменить пароль</h2>
<div class="password-change-block">
    @if (ViewBag.HasLocalAccount)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>

                <div class="form-group">
                    <label>@Html.LabelFor(m => m.OldPassword)</label>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Введите старый пароль" })
                </div>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.NewPassword)</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Введите новый пароль" })
                </div>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.ConfirmPassword)</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтвердите новый пароль" })
                </div>
                <button type="submit" class="btn btn-default">Изменить пароль</button>
            </fieldset>
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
