@model BeginApplication.Models.UserThemesModel

Тем : @Model.TotalItems

@if (Model.TotalItems > 10)
{
    @Html.Partial("UserThemesMenu", Model)
}

@if (Model.TotalItems != 0)
{ 
    foreach (var theme in Model.PagedThemes)
    {
        <div class="row topic-link-line section-link-line">
	        <div class="col-md-7">
		        @Html.ActionLink(theme.ThemeTitle, "Theme", "Forum", new { id = theme.ThemeId }, null)
	        </div>
	        <div class="col-md-2 right">
		        @theme.CreationDate.ToShortDateString(), @theme.CreationDate.ToShortTimeString()
	        </div>           
        </div>
    }
}

@if (Model.TotalItems > 10)
{
    @Html.Partial("UserThemesMenu", Model)
}