@model BeginApplication.Models.UserThemesModel

Тем : @Model.TotalItems

@if (Model.TotalItems > 10)
{
    @Html.Partial("UserThemesMenu", Model)
}

@if (Model.TotalItems != 0)
{ 
    foreach (var theme in Model.PagedThemes)
    {
        <p>@Html.ActionLink(theme.ThemeTitle, "Theme", "Forum", new { id = theme.ThemeId}, null)</p>
        <p>@theme.CreationDate.ToShortDateString(), @theme.CreationDate.ToShortTimeString()</p>
    }
}

@if (Model.TotalItems > 10)
{
    @Html.Partial("UserThemesMenu", Model)
}