@model BeginApplication.Models.PrivateCabinetModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>

<div class="private-cabinet">
    <div class="first-column">
        Аватар
        <div id="avatar-target">
            @Html.Partial("_Avatar", new BeginApplication.Models.AvatarModel
            {
                isAvatarExists = Model.isAvatarExist,
                UserId = WebSecurity.CurrentUserId
            })       
        </div>
    </div>
    <div class="second-column">
        <ul>
            <li>@Html.ActionLink("Изменить пароль", "ChangePassword", "Account")</li>
            <li>@Html.ActionLink("Настроки приватности", "EditPrivateProperties", "Account")</li>
            <li>
                <a id="changeAvatarRef" href="#">Сменить аватар</a>
            </li>         
        </ul>
        <fieldset class="changeAvatar">
            @using (Html.BeginForm("ChangeAvatar", "Account", null, FormMethod.Post, new { Model, enctype = "multipart/form-data", id = "formChangeAvatar" } ))
            {
                <input type="file" data-filename-placement="inside" name="file">
                <button style="margin-top: 3px; margin-bottom: 8px;" type="submit" class="btn btn-success btn-sm">Обновить аватар</button>
            }
        </fieldset>
        
    </div>
    <div class="third-column">
        <div style="width: 450px;" class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Имя: </td>
                        <td>@WebSecurity.CurrentUserName</td>
                    </tr>
                    <tr>
                        @if (Roles.IsUserInRole("moder"))
                        {
                            <td>Роль: </td>
                            <td>Модератор</td>
                        }
                        else if (Roles.IsUserInRole("admin"))
                        {
                            <td>Роль: </td>
                            <td>Администратор</td>
                        }
                        else
                        {
                            <td>Роль: </td>
                            <td>Пользователь</td>
                        }
                    </tr>
                    <tr>
                        <td>Статус: </td><td>Активен</td>
                    </tr>
                    <tr>
                        <td>Рейтинг :</td>
                        <td>@Model.UserRating</td>
                    </tr>
                    <tr>
                        <td>Почта :</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Телефон :</td>
                        <td>@Model.Mobile</td>
                    </tr>
                    <tr>
                        <td>Дата регистрации :</td>
                        <td>@Model.RegistrationDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Время регистрации :</td>
                        <td>@Model.RegistrationDate.ToShortTimeString()</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="user-themes-target">
     @Html.Action("GetThemesByUser", "Account")
</div>