@model BeginApplication.Models.RegisterModel

@{
    ViewBag.Title = "Регистрация";
}

<h4>Зарегистрироваться</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>

        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Имя пользователя" })
        <p></p>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
        <p></p>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Проверка пароля" })
        <p></p>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
        <p></p>
        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Номер телефона" })
        <p></p>
        @Html.ShowCaptcha("Account", "Captcha", 160, 50)
        <p></p>
        @Html.Editor("Captcha")<br />
        @Html.ValidationMessage("Captcha")
        <p></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
    </fieldset>
}

<script>
    $('form').prop("class", "form-registration");
    $('#Captcha').prop("class", "form-control");
    $('#Captcha').prop("placeholder", "Введите текст с картинки");
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}