@model BeginApplication.Models.CommentsWithThemeModel

@if (Model != null)
{
    <div class="theme-comments">
        @foreach (var c in Model.PagedComments)
        {
            <div class="answer-container">
                <div class="container container-xs-height">
                    <div class="row row-sm-height post-title">
                        <div class="col-sm-4 col-xs-height">
                            @Html.Partial("_UserAct", new BeginApplication.Models.ShortUserSummary
                             {
                                 UserId = c.UserId,
                                 UserName = c.UserName
                             })
                            @if (Roles.IsUserInRole("moder") || Roles.IsUserInRole("admin"))
                            {
                                using (Html.BeginForm("RemoveComment", "Forum", new { id = c.CommentId, theme = Model.Theme.ThemeId, path = Request.Url.AbsoluteUri }, FormMethod.Post, new { @class = "my-del-form" }))
                                {
                                    <input class="btn btn-danger btn-xs" 
                                           type="submit" 
                                           value="Удалить" 
                                           onclick="return confirm('Вы действительно хотите удалить сообщение?')" />
                                }
                                
                                if (!c.isAdmitted)
                                {
                                    using (Html.BeginForm("AdmittComment", "Forum", new { id = c.CommentId, theme = Model.Theme.ThemeId, path = Request.Url.AbsoluteUri }, FormMethod.Post, new { @class = "my-admit-form" }))
                                    {
                                        <input class="btn btn-success btn-xs"
                                               type="submit"
                                               value="Одобрить"
                                               onclick="return confirm('Вы действительно хотите ободрить сообщение?')" />
                                    }
                                }
                            }
                        </div>
                        <div class="col-sm-2 col-xs-height">
                            @c.CreationDate.ToShortTimeString()  , @c.CreationDate.ToShortDateString()
                        </div>
                        <div style="text-align: right;" class="col-sm-2 col-xs-height last">

                            @if (Request.IsAuthenticated && c.UserId != WebSecurity.CurrentUserId && c.isAdmitted)
                            {
                                var target = "id" + c.CommentId.ToString();

                                <div>
                                    @using (Ajax.BeginForm("_GetCommentData", "Forum", new BeginApplication.Models.CommentInfo(c), new AjaxOptions { UpdateTargetId = target, InsertionMode = InsertionMode.Replace }, null))
                                    {
                                        <input class="btn btn-xs btn-default" type="submit" value="Проголосовать" />
                                        <div style="display: -webkit-inline-box;" id="@target">@Html.Partial("_GetCommentData", c) </div>                                        
                                    }
                                </div>
                            }
                            else
                            {
                                @Html.Partial("_GetCommentData", c)
                            }
                        </div>
                    </div>
                </div>
                <div class="container container-xs-height">
                    <div class="row row-sm-height post-content">
                        <div class="col-xs-2 col-xs-height">
                            @Html.Partial("_Avatar", new BeginApplication.Models.AvatarModel 
                            { 
                                isAvatarExists = c.isAvatarExists,
                                UserId = c.UserId
                            })
                        </div>
                        <div class="col-xs-6 col-xs-height">
                            @if (!c.isAdmitted)
                            {
                                <span class="label label-warning">Данный комментарий пока не прошел проверку</span>
                                <br />
                            }
                            @c.CommentText                            
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}