@model BeginApplication.Models.AddThemeModel

@{
    ViewBag.Title = "Добавить тему";
}

<h2>Добавить тему</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "add-theme-form" }))
{
    @Html.ValidationSummary()

    <fieldset>
        <div class="form-group">
            @Html.TextBoxFor(m => m.ThemeTitle, new { @class = "form-control", placeholder = "Название темы" })
            <br />
            @Html.TextAreaFor(m => m.ThemeText, new { @class = "form-control", rows = "25", placeholder = "Содержание" })
        </div>

        @Html.Hidden("SectionId", Model.SectionId)
        @Html.Hidden("UserId", Model.UserId)
        <button class="btn btn-default" type="submit">Добавить тему</button>
    </fieldset>
}

