@model BeginApplication.Models.ThemesWithSectionModel

@{
    ViewBag.Title = Model.Section.SectionTitle;
}

<h2>@Model.Section.SectionTitle. Темы</h2>

@if (Model.TotalItems > 0)
{ 
    <div class="form-theme-searching">
        @using (Html.BeginForm("Section", "Forum", new { searching = Model.SearchingString, page = 1 }, FormMethod.Get, null))
        {
            <text>
                Поиск :  
                @Html.TextBox("searching", (string)Model.SearchingString)
                @Html.Hidden("id", Model.Section.SectionId)
                <input type="submit" value="Поиск" />
            </text>
        }
    </div>
}

@Html.Partial("_ThemesMenu", Model)

@if (Model.TotalItems > 0)
{
    @Html.Partial("_PagedThemes", Model)
}
else
{
    <text>Тем нет</text>
}
    
@if (Model.TotalItems > 0)
{
    @Html.Partial("_ThemesMenu", Model)
}