@model BeginApplication.Models.ThemesWithSectionModel

@{
    ViewBag.Title = Model.Section.SectionTitle;
}

<h2>@Model.Section.SectionTitle. Темы</h2>

<div class="form-theme-searching">
    @using (Html.BeginForm("Section", "Forum", new { searching = Model.SearchingString, page = 1}, FormMethod.Get, null))
    {
        <text>
            <div class="input-group topic-search">
                 @Html.TextBox("searching", (string)Model.SearchingString, new { @class = "form-control", placeholder = "Что ищем?" })
                 @Html.Hidden("id", Model.Section.SectionId)
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Поиск</button>
                </span>
            </div>
        </text>
    }
</div>

@Html.Partial("_ThemesMenu", Model)

@if (Model.TotalItems > 0)
{
    @Html.Partial("_PagedThemes", Model)
}
else
{
    <text>Тем нет</text>
}
    
@if (Model.TotalItems > 0)
{
    @Html.Partial("_ThemesMenu", Model)
}