@model BeginApplication.Models.CommentsWithThemeModel
@{
    ViewBag.Title = Model.Theme.ThemeTitle;
}
<h4>@Model.Theme.ThemeTitle</h4>

<div class="container container-xs-height">
    <div class="row row-sm-height post-title">
        <div class="col-sm-6 col-xs-height">
            <strong>Автор темы:</strong> @Html.Partial("_UserAct", new BeginApplication.Models.ShortUserSummary
                {
                    UserId = Model.Theme.UserId,
                    UserName = Model.Theme.UserName
                })
        </div>
        <div class="col-sm-2 col-xs-height">
            @Model.Theme.CreationDate.ToShortTimeString() , @Model.Theme.CreationDate.ToShortDateString()
        </div>
    </div>
</div>
<div class="container container-xs-height">
    <div class="row row-sm-height post-content">
        <div class="col-xs-2 col-xs-height">
            @Html.Partial("_Avatar", new BeginApplication.Models.AvatarModel
            {
                isAvatarExists = Model.Theme.isAvatarExists,
                UserId = Model.Theme.UserId
            })
        </div>
        <div class="col-xs-6 col-xs-height">
            @Model.Theme.ThemeText
        </div>
    </div>
</div>

@Html.Partial("_CommentsMenu", Model)
@Html.Partial("_PagedComments", Model)
@if (Model.TotalItems > 0)
{
    @Html.Partial("_CommentsMenu", Model)
}
@if (Request.IsAuthenticated)
{
    @Html.Action("_AddComment", "Forum", new { th = Model.Theme.ThemeId })
}