@model BeginApplication.Models.UserSummaryModel

@{
    ViewBag.Title = "UserInfo";
}

<h2>Информация о пользователе</h2>

Аватар
@Html.Partial("_Avatar", new BeginApplication.Models.AvatarModel
{
    isAvatarExists = Model.isAvatarExists,
    UserId = Model.UserId
})

<div class="table-responsive userinfo-table">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Имя: </td> 
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Роль: </td>
                @if (Roles.IsUserInRole(Model.UserName, "moder"))
                {
                    <td>Модератор</td>
                }
                else if (Roles.IsUserInRole(Model.UserName, "admin"))
                {
                    <td>Администратор</td>
                }
                else
                {
                    <td>Пользователь</td>
                }
            </tr>
            <tr>
                <td>Статус: </td>
                <td>
                    @if (Roles.IsUserInRole(Model.UserName, "active"))
                    { <text>Активен</text> }
                    else
                    { <text>Заблокирован</text> }
                </td>
            </tr>
            <tr>
                <td>Рейтинг: </td>
                <td>
                    @if (Model.Rating == null)
                    { <text>0</text> }
                    else
                    { <text>@Model.Rating</text> }
                </td>
            </tr>
            <tr>
                <td>Почта :</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Телефон :</td>
                <td>@Model.Mobile</td>
            </tr>
            <tr>
                <td>Дата регистрации :</td>
                <td>@Model.RegistrationDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Время регистрации :</td>
                <td>@Model.RegistrationDate.ToShortTimeString()</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="user-themes-target">
    @Html.Action("GetThemesByUser", "Account", new { id = Model.UserId })
</div>