@model BeginApplication.Models.UserSummaryModel

@{
    ViewBag.Title = "UserInfo";
}

@Html.Partial("_Avatar", new BeginApplication.Models.AvatarModel
{
    isAvatarExists = Model.isAvatarExists,
    UserId = Model.UserId
})
 
@if (Roles.IsUserInRole(Model.UserName, "moder"))
{
    <h2>@Model.UserName, Модератор</h2>
}
else if (Roles.IsUserInRole(Model.UserName, "admin"))
{
    <h2>@Model.UserName, Администратор</h2>
}
else
{
    <h2>@Model.UserName, Пользователь</h2>
}
<p>Рейтинг : @if (Model.Rating == null) { <text>0</text> } else { <text>@Model.Rating</text> } </p>
<p>Почта : @Model.Email</p>
<p>Телефон : @Model.Mobile</p>

<div id="user-themes-target">
    @Html.Action("GetThemesByUser", "Account", new { id = Model.UserId })
</div>
